.results-list {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.no-results {
  font-style: italic;
  color: goldenrod;
  font-size: 40px;
  text-align: center;
}