body {
  color: white;
  background-color: rgb(34, 34, 34);
  font-family: 'Pathway Gothic One', sans-serif;
}

a {
  text-align: center;
  font-size: 40px;
  color: yellow;
  text-shadow: -1px 1px 0 white, 
                1px 1px 0 white, 
                1px -1px 0 white,
                -1px -1px 0 white;
  text-decoration: none;
}

a:hover {
  transition: 0.5s;
  color: goldenrod;
}